.resource-item-title-layout {
    display: flex;
    align-items: center;

    .resource-item-title-text {
        color: var(--color-9);
        font-weight: var(--weight-3);
        font-size: var(--size-2);
    }

    .img-view {

        display: grid;
        position: relative;

        img {
            padding-top: 2px;
        }
    
        span {
            position: absolute;
            font-size: 8px;
            right: -7px;
            top: -10px;
            display: block;
            width: 100%;
            white-space: nowrap;
        }
    }

}
