:root {
  
    // COLORS
    --color-1: #5f646e;
    --color-2: #f1ebe1;
    --color-3: #c0bebe;
    --color-4: #cac8c8;
    --color-5: #808080;
    --color-6: #50D4A8;
    --color-7: #ffffff;
    --color-8: #F0ECEC;
    --color-9: #149CF7;
    
    // FONTS
    --size-1: 12px;
    --size-2: 14px;
    --size-3: 16px;
    --size-4: 18px;
    --size-5: 20px;

    // WEIGHTS
    --weight-1: 300;
    --weight-2: 400;
    --weight-3: 500;
  }
  
  